.nav-link{
    color: white;
}
.nav-link:hover{
    color: black;
}
.active{
    color: black;
}
.nav{
    margin-top: 10px;
}
.btn{
    background-color: #9BBEC8;
    color: white;
}
.container{
    position: relative;
    width: 33.33%;
    margin-top: 10px;
    float: left;
    overflow: hidden;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

img{
    border-radius: 20px;
    
}
img:hover{
    opacity: 0.5;
}
#text1 ,#text2, #text3{
    background-color:#9BBEC8 ;
    margin-top: 19%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    font-family:sans-serif;
    position: absolute;
    width: 99%;
    margin-bottom: 10%;
}
pre{
    font-size: 20px;
}

#ordbtn{
    background-color:#427D9D;
    margin-bottom: 10%;
    width: 33%;
    margin-left: 30%;
    border-color: #427D9D;
}
#ordbtn:hover{
    border-color: white;
}

#clsbtn{
    margin-left: 98%;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('solar-panel-sun.0.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form{
    padding: 5%;
    color: #DDF2FD;
}

.form-select{
    width: 60%;
}

.inputnb{
    border-radius: 8px !important;
    padding: 3px;
}

h3{
    margin-top: 15px;
}

.form-check{
    font-size: 20px;
}

#submit-btn{
    margin-top: 10px;
    border-color: #DDF2FD;
    background-color: transparent;
    width: 200px;
    height: 50px;
}
#submit-btn:hover{
    background-color: #9BBEC8;
    border-color: #9BBEC8;
}

.address{
    font-size: 20px;
}

